
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:50rem;
}
h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
    border:1px solid rgb(17, 206, 17);
    padding:1rem;
    border-radius:5px;
    background-color: #fff;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding:1.4rem;
    background-color: rgb(253, 253, 253);
    color:rgb(0, 0, 0) ;
    font-size: large;
    border-radius: 5px;
    border:1px solid rgb(17, 206, 17);
    padding:1rem;
}
button{
    padding:1rem 1.4rem;
    margin:2rem 0.5rem;
    border: 1px solid rgb(104, 189, 24);
    background-color: rgb(104, 189, 24);
    font-size: large;
    border-radius: 5px;
}
body{
    background-image: url(https://static.wixstatic.com/media/546dbf_03318f185ebd4d3a885b5e8e2f109c1a~mv2.gif);
}
img{
    height:300px;
    
}
#result{
font-size: 1.3rem;
padding:1rem;
margin-top: 1rem;
color: rgb(66, 204, 24);
border-radius: 5px;
background-color: rgb(253, 244, 244);
}